################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/FuckFileMonitor/v16
/bin
/tmp/Win32/Debug/FuckFileMonitor
/tmp/x64/Debug/FuckFileMonitor/FuckFileMonitor.tlog
/tmp/x64/Debug/FuckFileMonitor
